.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item{
    display: none;
}

.item.active {
    display: block;
  }
  
img{
    width: 250px;
    height: 250px;
}

.pagination{
    margin-top: 800px;
    margin-left: 900px;
  }